<!-- 資格・スキル -->
<section class="profile-page__section profile-page__wide-section" id="skills">
  <h2>
    <span class="sec-en">CERTIFICATIONS / SKILLS</span>
    <span class="sec-ja">資格・スキル</span>
  </h2>
  <h3>保有資格</h3>
  <section class="certification-skill__categories">
    <% for (const category of certifications) { %>
    <section class="certification-skill__category">
      <h4><%= category.category %></h4>
      <ul class="certification-skill__certifications">
        <% for (const cert of category.items) { %>
        <li>
          <span class="certification-skill__certification-name"
            ><%= cert.name %></span
          >
          <span class="certification-skill__certification-date"
            >（<%= cert.date %>）</span
          >
        </li>
        <% } %>
      </ul>
    </section>
    <% } %>
  </section>

  <h3>スキル</h3>
  <section class="certification-skill__categories">
    <% for (const category of skills) { %>
    <section class="certification-skill__category">
      <h4><%= category.name %></h4>
      <ul class="certification-skill__skills">
        <% for (const skill of category.items) { %>
        <li>
          <span class="certification-skill__skill-name"><%= skill.name %></span>
          <div class="skill-bar">
            <div style="width: <%= skill.level %>%"></div>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
    <% } %>
  </section>
</section>
